mixin svg(name, className, mod)
    - m = mod || ''
    svg(class="icon "+name+m class=className+'--'+name+m)
        use(xlink:href="#" + name)

mixin section-title(title, className)
    .section-title-container(class=className)
        a.section-title-container__link
            span.section-title-container__link-text=title
                
mixin   portfolio-item (classMod, title, description, demoHref='', moreHref='')            
    .portfolio__works-list-item-holder(class='portfolio__works-list-item-holder--'+classMod)
    .portfolio__works-list-item-block
        h3.portfolio__works-list-item-title=title
        p.portfolio__works-list-item-description=description
        .portfolio__works-list-item-links-container
            a.portfolio__works-list-item-demo-link(href=""+demoHref) Demo
            a.portfolio__works-list-item-more-link(href=""+moreHref) More